@font-face {
    font-family: Pixemex;
    src: url(fonts/joystix.otf);
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
    font-size: 8px;
}

body {
    
    font-family: Pixemex, Arial, sans-serif;
    line-height: 1.6;
    background: rgb(236, 204, 170);
    height: 100vh;
    overflow: hidden;
}

/* Header */
header {
    background: transparent;
    padding: 1em 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    font-size: clamp(1rem, 5rem, 12rem); /* Dynamically adjust font size */
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 2vw;
}

header nav ul li a {
    text-decoration: none;
    color: #6D321D;
    font-size: clamp(1rem, 2vw, 12rem);
    transition: color 0.3s ease, font-size 0.3s ease;
}

header nav ul li a:hover {
    color: #ffde59;
}

.hamburger {
    display: none;
}

/* Hamburger and Responsive Menu */
@media (max-width: 720px) {
    header {
        justify-content: flex-end;
    }

    
    header nav ul li a {
        font-size: clamp(1rem, 5vw, 12rem);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        font-size: clamp(3rem ,4vw, 10rem);
        color: #6D321D;
        position: absolute;
        right: 2vw;
        top: 1vh;
        z-index: 101;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 2vw;
        background: rgba(255, 255, 255, 0.15);
        padding: 0.5em;
        border-radius: 1em;
        z-index: 100;
    }

    header nav ul.show {
        display: flex;
    }

    header nav ul li {
        margin: 0.05em 0;
    }

    /* Change Hamburger color on components page */
    .components-page .hamburger {
        color: #a4cc44;
    }
}

/* Parallax Container */
.parallax-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: visible;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-out;
}

/* Background Layers */
#phallus {
    background-image: url(images/HomepageMascotSprites/spaced/ComputyDefaultBSpng.png);
    z-index: 2;
    transition: transform 2s ease, background-image 0s ease;
}

#keyboard {
    background-image: url(images/HomepageMascotSprites/nospace/ComputyKeyboard.png);
    z-index: 1;
    transition: transform 2s ease, background-image 0s ease;
}

#phallus.zoomed {
    transform: translateX(10%) translateY(-50%) scale(6);
}

#desk {
    background-image: url(images/HomepageBackground/HomepageTableAndwindow.png);
    z-index: 1;
}

#tree_left_back {
    background-image: url('images/HomepageBackground/HomepageBackgroundTreesLEFTSIDE.png');
    z-index: -4;
}

#tree_left_front {
    background-image: url('images/HomepageBackground/HomepageFrontalTreesLEFTSIDE.png');
    z-index: -2;
}

#tree_right_back {
    background-image: url('images/HomepageBackground/HomepageBackgroundTreesRIGHTSIDE.png');
    z-index: -3;
}

#tree_right_front {
    background-image: url('images/HomepageBackground/HomepageFrontalTreesRIGHTSIDE.png');
    z-index: -1;
}

/* Mute Button */
#mute-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: clamp(1em, 5vw, 20em);
    height: auto;
    cursor: pointer;
    z-index: 1000;
}

/* Pop-up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: rgba(255, 255, 255, 0.85);
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    max-width: 50vw;
    box-shadow: 0px 0px 10px 1px white;
    
}

.popup-content p {
    font-size: clamp(1rem, 1vw , 12rem);
    margin-bottom: 1.5vh;
}

#popup-ok {
    padding: 1em 2em;
    cursor: pointer;
    background-color: #6D321D;
    color: #fff;
    border: none;
    border-radius: 1em;
    transition: background-color 0.3s ease;
    font-size: clamp(1rem, 1vw , 12rem);
    font-family: Pixemex;
}

#popup-ok:hover {
    background-color: #ffde59;
}

/* Components Page */
.components-page {
    background-color: #4e5836;
}

.components-page nav ul li a {
    color: #a4cc44;
}


